<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.seucaio.githubreposkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GitHubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Githubreposkotlin">
        <activity
            android:name=".presentation.view.RepoListActivity"
            android:exported="true"
            android:label="@string/title_activity_repo_list"/>
        <activity
            android:name=".presentation.compose.ui.paging.PagingActivity"
            android:exported="true"
            android:label="@string/title_activity_paging"/>
        <activity
            android:name=".presentation.compose.ui.list.ListActivity"
            android:exported="true"
            android:label="@string/title_activity_list" />
        <activity
            android:name=".presentation.view.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Githubreposkotlin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>